<ul id="main-nav" class="nav nav-tabs nav-stacked">
    <li ng-repeat="(key,val) in d.folder" >
        <a data-target="#{{key}}" class="nav-header collapsed" data-toggle="collapse">
            <i class="{{val.icon}}"></i>
            {{val.translate | translate}}
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="{{key}}" class="nav nav-list collapse" >
            <li class="active" ng-repeat="item in val.child">
                <a href="{{item.href}}">
                    <i class="{{item.icon}}"></i>　{{item.translate | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>